body{
  background-color: #131a28;
}
.header{
  background-color: #131a28;
}
.inner-header{
  background: #131a28;
  color: white;
}
.hd:hover {
  background-color: #293446;
}
button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background: #131a28;
    color: white;
    border: 0;
}
button:hover {
    background-color: #ffffff;
    color: black;
}
.middle{
  background-color: #131a28;
}
.middle-content{
  color: white;
}
.blok{
  background-color: #293446;
}
.wrap-bot a{
  color: white;
}